<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find lms1xx)/urdf/sick_lms1xx.urdf.xacro" />

  <xacro:macro name="sick_lms2xx_mount" params="prefix parent topic robot_namespace *origin tower:=1">
    <!-- Add SICK -->
    <xacro:sick_lms1xx frame="${prefix}_laser" topic="${topic}" robot_namespace="${robot_namespace}"/>

    <!-- Tower Enabled -->
    <xacro:if value="${tower}">
      <!-- Add Tower -->
      <link name="${prefix}_laser_mount">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}" />
          <material name="blue">
            <color rgba="0.25 0.55 1.0 1.0"/>
          </material>
          <geometry>
            <!-- Origin of this mesh is the base of the bracket. -->
            <mesh filename="package://husky_description/meshes/accessories/SICK_LM200-LM291.dae" scale="0.001 0.001 0.001"/>
          </geometry>
        </visual>
        <collision>
          <origin xyz="0 0 .0585" rpy="0 0 0" />
          <geometry>
            <box size=".1 .108 .117" />
          </geometry>
        </collision>
      </link>
      <!-- Join SICK to Tower -->
      <joint name="${prefix}_laser_joint" type="fixed">
        <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
        <origin xyz="0.0352 0 0.0566" rpy="${M_PI} 0 0" />
        <parent link="${prefix}_laser_mount" />
        <child link="${prefix}_laser" />
      </joint>
    </xacro:if>

    <!-- Tower Disabled -->
    <xacro:unless value="${tower}">
      <!-- Add Virtual Link -->
      <link name="${prefix}_laser_mount"/>
      <!-- Join Sick to Virtual Link -->
      <joint name="${prefix}_laser_joint" type="fixed">
        <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
        <origin xyz="0.055 0 0.0365" rpy="0 0 0" />
        <parent link="${prefix}_laser_mount" />
        <child link="${prefix}_laser" />
      </joint>
    </xacro:unless>

    <!-- Join Tower/Virtual Link to Parent -->
    <joint name="${prefix}_laser_mount_joint" type="fixed">
      <child link="${prefix}_laser_mount" />
      <parent link="${parent}" />
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>
</robot>
